.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-products {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 200px; /* Set a specific width for each item */
  margin: 10px; /* Add some margin between items */
  border: 1px solid #ddd; /* Add a border for better visibility */
  padding: 10px; /* Add some padding for better spacing */
  text-align: center;
}

.item img {
  max-width: 100%;
  height: auto;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.price {
  color: #007bff; /* Set a color for the price */
  font-size: 14px;
  margin-top: 5px;

  
}
